<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.student.soundboard">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sound Bored Soundboard"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Sound_listActivity"></activity>
        <activity android:name=".RecordActivity"></activity>
        <activity android:name=".BoardActivity"></activity>
        <activity android:name=".RecordingListSelectActivity"></activity>
        <activity android:name=".MainActivity">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainRecordActivity">
        </activity>
        <activity android:name=".RecordingListActivity" />
        <activity
            android:name=".EditExistingAudio"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter android:label="@string/edit_intent">
                <action android:name="android.intent.action.EDIT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity android:name=".MediaListActivity"></activity>
    </application>

</manifest>
